h1 {
	text-align: center;
}

.vehiculo {
	display:flex;
}

.margen, .indice {
	width: 200px;
	flex-shrink: 0;
	padding-left: 200px;
	padding-right: 25px;
}

.imagen_vehiculo {
	height:200px;
	padding-left: 50px;
}

.contenido {
	padding:50px;
	border:solid;
}

.indice ul {
	list-style-type: none;
	padding: 10px;
}

.fila_contenido {
	vertical-align: top;
	margin-left: auto;
    margin-right: auto;
	display: flex;
}

p {
	text-align: justify;
}

img {
	display:block;
	margin:auto;
}

.tabla_comparacion, .tabla_comparacion th, .tabla_comparacion td{
	border:1px solid black;
	
}

.tabla_comparacion th, .tabla_comparacion td {
	padding: 10px;
	text-align: center;
}

dt {
  font-weight: bold;
  margin-bottom: 0.5em;
}

dd {
  margin-bottom: 1em;
  text-align: justify;
}

dd img {
	margin-top: 0.5rem;
}

.botones {
	display: flex;
	justify-content: space-evenly;
}

.color_favorito {
	display:flex;
}

form {
	width: 500px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

textarea {
	width: 500px;
}